<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="TaxRecord">
            <directory>app/Features/TaxRecord/Tests</directory>
        </testsuite>
        <testsuite name="InviteUser">
            <directory>app/Features/InviteUser/Tests</directory>
        </testsuite>
        <testsuite name="TaxRecordItem">
            <directory>app/Features/TaxRecordItem/Tests</directory>
        </testsuite>
        <testsuite name="Token">
            <directory>app/Features/Token/Tests</directory>
        </testsuite>
        <testsuite name="Transaction">
            <directory>app/Features/Transaction/Tests</directory>
        </testsuite>
        <testsuite name="User">
            <directory>app/Features/User/Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
